 p{            
     color:green;
    font-weight: bold;
    font-style: italic;
     /*font-family: Tahoma;*/
    font-family: comic sans Ms;
    font-size: 24px;
    background-color: lightcoral;
   }